<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../stylesheets/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    <div class="header">
        <h1>Instagram</h1>
        <%= link_to  "Home", "/", class: "home" %>
        <%= link_to  "Messages", "paginas/messages", class: "messages" %>
    </div>
    
    <div class="uploads">

    </div>
    <div class="images">
  <%= simple_form_for @user, html: { class: "user-form", multipart: true } do |f| %>
    <div class="form-group">
      <%= f.input :username, input_html: { class: "input-field" }, label_html: { class: "input-label" } %>
    </div>
    <div class="form-group">
      <%= f.input :password, input_html: { class: "input-field" }, label_html: { class: "input-label" } %>
    </div>
    <div class="form-group">
      <%= f.input :image, as: :file, label: "Image", input_html: { class: "input-file" }, label_html: { class: "input-label" } %>
    </div>
    <div class="form-group">
      <%= f.button :submit, "Salvar", class: "submit-btn" %>
    </div>
  <% end %>
</div>
</body>
</html>